<h1>Register</h1>
<form action="/user/changePasswordWithResetToken" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" require="required" value="{{ email }}">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" require="required">
  </div>
  <div style="display: none">
    <label for="reset_token">Password</label>
    <input type="text" id="reset_token" name="reset_token" require="required" value="{{ reset_token }}">
  </div>
  <button type="submit">Create new Password</button>
</form>
<a href="/user/login">Login</a>
<a href="/user/forgotPassword">Forgot Password</a>
<a href="/user/register">Forgot Password</a>