
.sub-nav {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style-type: none;
}


.sub-nav__item {
  display: block;
  clear: both;
  margin-right: 0 !important;
  padding: 5px 30px 5px 20px;
  border: none;
  background-color: #fff;
  color: #3c424f;
  line-height: 23px;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.05s;

  &:hover {
    color: #1963f6;
  }
}

.nav__item {
  position: relative;
  height: 21px;
  padding: 10px 2px 6px 8px;
  border-bottom: 3px solid #1963f600;
  cursor: pointer;
  transition: border 0.05s;

  &:hover {
    border-bottom: 3px solid #1963f6FF;
  }

  &:hover {
    .sub-nav {
      display: flex;
    }
  }
}